
body {
    background-color: #EEEEEE;
}

.display {
	margin: 20px;
	float: left;
}

svg {
	background: #d3e6f4;
}

.path {
	fill: #d3e6f4;
}

.wall {
	fill: #FFFFFF;
	background-image: radial-gradient(56% 32%, transparent, black 90%);"
}

.ice {
	fill: #377fb5;
}

.santa{
	fill: white;
	stroke-width: 10px;
	stroke: red;
}

.player {
	fill: #C9EBF0;
	stroke: #2973F2;
}

.gotPresent {
	fill: green;
	stroke: #2973F2;
}

.enemyClosestDistance {
	fill: pink;
	stroke-width: 3px;
	stroke: black;
}

.enemyRandomMovement {

	fill: orange;
	stroke-width: 3px;
	stroke: black;
}

.enemyPlayerDirection {
	fill: green;
	stroke-width: 3px;
	stroke: black;
}




