
body {
	background-color: #72beff;
    background: url('../images/bg.png');
  	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
 }

 .customized-navbar{
 	color: #000000;
 	opacity: 0.4;
 }

.wrapper {
	padding-top: 50px;
}

.display {
	margin: 20px;
	float: left;
}

svg {
	background: #d3e6f4;
}

.path {
	fill: #d3e6f4;
}

.wall {
	fill: #FFFFFF;
	
}

.ice {
	fill: #377fb5;
}

.santa{
	fill: white;
	stroke-width: 10px;
	stroke: red;
}

#points {
	margin-top: 10px;
	margin-left: 140px;
	position: relative;
	width: 350px;
	height: 50px;
	padding-left: 30px;
	text-align: left;
	line-height: 40px;
	background-color: #fff;
	border: 4px solid #cd9f61;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
#level {
	margin-top: 50px;
	margin-left: 140px;
	position: relative;
	width: 350px;
	height: 50px;
	padding-left: 30px;
	text-align: left;
	line-height: 40px;
	background-color: #fff;
	border: 4px solid #cd9f61;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
#lives {
	margin-top: 20px;
	margin-left: 140px;
	position: relative;
	width: 350px;
	height: 50px;
	padding-left: 30px;
	text-align: left;
	line-height: 40px;
	background-color: #fff;
	border: 4px solid #cd9f61;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.life {
	font-size: 30px;
	margin-right: 5px;
	color: red;
}

.faded_life {
	color: #dddddd !important;
}

#santaImage {

	margin-top: -8px;
}

#santasResponse {
	margin-top: 60px;
	margin-left: 140px;
	position: relative;
	width: 350px;
	height: 130px;
	text-align: center;
	padding-top: 20px;
	line-height: 30px;
	background-color: #fff;
	border: 8px solid #cd9f61;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

#santasResponse:before {
	margin-top: 14px;
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #cd9f61 transparent transparent #cd9f61;

}
#santasResponse:after {
	margin-top: 14px;
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}







