
body {
    background-color: #EEEEEE;
}

.display, .control {
	margin: 10px;
}

.display {
	float: left;
}

.control {
	float: left;
}

.control textarea {
	margin: 10px;
}

svg {
	border: 1px solid black;
}

.path {
	fill: #d3e6f4;
	/*stroke-width: 1px;*/
	/*stroke: #2D801C;*/
	border: none !important;
}

.wall {
	fill: #858585;
	color: #d3e6f4;
	/*stroke-width: 1px;*/
	/*stroke: #C7C7C7;*/
}

.ice {
	fill: #377fb5;

}

.position {
	fill: #C9EBF0;
	/*stroke-width: 3px;*/
	stroke: #2973F2;
}

.enemy {
	fill: pink;
	stroke-width: 3px;
	stroke: black;
}

.enemyRandom {

	fill: orange;
	stroke-width: 3px;
	stroke: black;
}



